global:
  scrape_interval: 5s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "textclf_api"
    metrics_path: /metrics
    static_configs:
      - targets: ["api:8000"]

rule_files:
  - /etc/prometheus/alerts.yml

remote_write:
  - url: ${GC_PROM_URL}
    basic_auth:
      username: ${GC_PROM_USER}
      password: ${GC_PROM_TOKEN}